{%- if publication.external_url -%}
{%- assign book_url = publication.external_url -%}
{%- else -%}
{%- assign book_url = publication.url | relative_url -%}
{%- endif -%}
{%- assign book_img = publication.image -%}
{%- assign book_title = publication.title -%}


<div class="wow animated fadeIn col-6 col-sm-4 col-md-3 p-2" data-wow-delay=".15s">
    <a href="{{ book_url }}" class="project card" {%- if external and site.open_new_tab -%} target="_blank" {%- endif -%}>
        {%- if book_img -%}
        <img class="card-img-top m-0" src="{{ book_img }}" alt="{{ book_title }}" style="border-radius: 15px" />
        {% else %}
        <img class="card-img-top m-0" src="https://archialgo-com-sources.oss-cn-hangzhou.aliyuncs.com/images/AAA-logo-black.jpg" alt="default" style="border-radius: 10px"/>
        {%- endif -%}
    </a>
</div>
