<h2 class="pt-3 text-center my-5">Books & Chapters</h2>

{% assign books = site.publications | where:"paper_type", "Book" %}
<div class="card-group mt-2">
  {% for book in books reversed %}

  {%- assign book_img  = book.image -%}
  {%- assign book_title  = book.title -%}

  {% include publication/book-card.html %}

  {% endfor %}

</div>



<h2 class="pt-3 text-center my-5">Articles & Papers</h2>

<div class="card-group mt-2">
  {% assign current_year = nil %}

  {% for publication in site.publications reversed %}
      
    {%- if publication.navs contains "template" or publication.paper_type == "Book" -%}
    {%- else -%}

      {%- assign publication_year = publication.date | date: "%Y" -%}
      {% if current_year != publication_year %}
      {% assign current_year = publication_year %}
      <div class="col-12">
        <h2 class="publication-year-heading ma-0 pt-1 pb-0">{{ current_year }}</h2>
      </div>
      {% endif %}


      {% include publication/publication-card.html %}
    {%- endif -%}
  {% endfor %}
  
</div>
