{% assign books = site.publications | where:"paper_type", "Book" or "Chapter" %}
{% assign articles = site.publications | where:"paper_type", "Journal Article" %}
{% assign papers = site.publications | where:"paper_type", "Conference Paper" %}
{% assign theses = site.publications | where:"paper_type", "Master Thesis" or "Doctoral Dissertation" %}

{% assign categories =
  {
  'Books & Chapters': books,
  'Journal Articles': articles,
  'Conference Papers': papers,
  'Theses & Dissertations': theses
  }
%}
{% assign categories_page =
  {
  'Books & Chapters': 'books-chapters',
  'Journal Articles': 'journal-articles',
  'Conference Papers': 'conference-papers',
  'Theses & Dissertations': 'theses-dissertations'
  }
%}

{% include publication/publication-categories.html %}


<h2 class="pt-3 text-center my-5">Latest Publications</h2>




<!--<h2 class="pt-3 text-center my-5">Books & Chapters</h2>-->

<!--{% assign books = site.publications | where:"paper_type", "Book" %}-->
<!--<div class="card-group mt-2">-->
<!--  {% for book in books reversed %}-->

<!--  {%- assign book_img  = book.image -%}-->
<!--  {%- assign book_title  = book.title -%}-->

<!--  {% include publication/book-card.html %}-->

<!--  {% endfor %}-->

<!--</div>-->



<!--<h2 class="pt-3 text-center my-5">Articles & Papers</h2>-->

<!--<div class="card-group mt-2">-->
<!--  {% assign current_year = nil %}-->

<!--  {% for publication in site.publications reversed %}-->
<!--      -->
<!--    {%- if publication.navs contains "template" or publication.paper_type == "Book" -%}-->
<!--    {%- else -%}-->

<!--      {%- assign publication_year = publication.date | date: "%Y" -%}-->
<!--      {% if current_year != publication_year %}-->
<!--      {% assign current_year = publication_year %}-->
<!--      <div class="col-12">-->
<!--        <h2 class="publication-year-heading ma-0 pt-1 pb-0">{{ current_year }}</h2>-->
<!--      </div>-->
<!--      {% endif %}-->


<!--      {% include publication/publication-card.html %}-->
<!--    {%- endif -%}-->
<!--  {% endfor %}-->
<!--  -->
<!--</div>-->
