{% assign papers = site.publications | where:"paper_type", "Conference Paper" %}

<h2 class="pt-3 text-center my-5">Conference Papers</h2>

<div class="card-group mt-2">
  {% assign current_year = nil %}

  {% for paper in papers reversed %}

      {%- assign publication_year = paper.date | date: "%Y" -%}
      {% if current_year != publication_year %}
      {% assign current_year = publication_year %}
      <div class="col-12">
        <h2 class="publication-year-heading ma-0 pt-1 pb-0">{{ current_year }}</h2>
      </div>

      {% include publication/publication-card.html %}

    {%- endif -%}
  {% endfor %}

</div>