{% assign books = site.publications | where:"paper_type", "Book" or "Chapter" %}
{% assign articles = site.publications | where:"paper_type", "Journal Article" %}
{% assign papers = site.publications | where:"paper_type", "Conference Paper" %}
{% assign theses = site.publications | where:"paper_type", "Master Thesis" or "Doctoral Dissertation" %}


<div class="card-group mt-2">

    <!--    Books & Chapters    -->
    {% assign latest_b = books | last %}
    {% if latest_b %}
    <div class="col-6 col-md-3 mt-1 mb-3 wow animated fadeIn" data-wow-delay=".15s">
        <a href="/publication/books-chapters" class="post card bg-books-chapters p-0">
            {% if latest_b.image %}
            <img class="publication-categories-img" src="{{ latest_b.image }}" alt=""/>
            {% endif %}
            <div class="card-img-overlay d-flex justify-content-center align-items-center">
                <div class="card-body text-white p-0 d-flex justify-content-center align-items-center" style="height: 100%; width: 100%;">
                    <h4 class="card-title text-center m-0">Books<br>&<br>Chapters</h4>
                </div>
            </div>

        </a>
    </div>
    {% else %}

    {% endif %}

    <!--    Journal Articles    -->
    {% assign latest_a = articles | last %}
    {% if latest_a %}
    <div class="col-6 col-md-3 mt-1 mb-3 wow animated fadeIn" data-wow-delay=".15s">
        <a href="/publication/journal-articles" class="post card bg-journal-articles p-0">
            {% if latest_a.image %}
            <img class="publication-categories-img" src="{{ latest_a.image }}" alt=""/>
            {% endif %}
            <div class="card-img-overlay d-flex justify-content-center align-items-center">
                <div class="card-body text-white p-0 d-flex justify-content-center align-items-center" style="height: 100%; width: 100%;">
                    <h4 class="card-title text-center m-0">Journal<br>Articles</h4>
                </div>
            </div>
        </a>
    </div>
    {% else %}

    {% endif %}

    <!--    Conference Papers    -->
    {% assign latest_p = papers | last %}
    {% if latest_p %}
    <div class="col-6 col-md-3 mt-1 mb-3 wow animated fadeIn" data-wow-delay=".15s">
        <a href="/publication/conference-papers" class="post card bg-conference-papers p-0">
            {% if latest_p.image %}
            <img class="publication-categories-img" src="{{ latest_p.image }}" alt=""/>
            {% endif %}
            <div class="card-img-overlay d-flex justify-content-center align-items-center">
                <div class="card-body text-white p-0 d-flex justify-content-center align-items-center" style="height: 100%; width: 100%;">
                    <h4 class="card-title text-center m-0">Conference<br>Papers</h4>
                </div>
            </div>
        </a>
    </div>
    {% else %}

    {% endif %}

    <!--    Theses & Dissertations    -->
    {% assign latest_t = theses | last %}
    {% if latest_t %}
    <div class="col-6 col-md-3 mt-1 mb-3 wow animated fadeIn" data-wow-delay=".15s">
        <a href="/publication/theses-dissertations" class="post card bg-theses-dissertations p-0">
            {% if latest_t.image %}
            <img class="publication-categories-img" src="{{ latest_t.image }}" alt=""/>
            {% endif %}
            <div class="card-img-overlay d-flex justify-content-center align-items-center">
                <div class="card-body text-white p-0 d-flex justify-content-center align-items-center" style="height: 100%; width: 100%;">
                    <h4 class="card-title text-center m-0">Theses<br>&<br>Dissertations</h4>
                </div>
            </div>
        </a>
    </div>
    {% else %}

    {% endif %}

</div>