{%- comment -%} Default Styles {%- endcomment -%}
{%- assign card_style = '' -%}
{%- assign text_style = 'text-themed' -%}
{%- assign badge_style = 'badge-dark' -%}

{%- comment -%} Update Styles {%- endcomment -%}
{%- if publication.style == 'fill' -%}
{%- assign card_style = publication.color | prepend: 'bg-' -%}
{%- if publication.color != 'light' -%}
{%- assign text_style = 'text-white' -%}
{%- assign badge_style = 'badge-light text-' -%}
{%- assign badge_style = badge_style | append: publication.color -%}
{%- endif -%}
{%- else -%}
{%- assign card_style = publication.color | prepend: 'border border-' -%}
{%- if publication.color -%}
{%- assign badge_style = publication.color | prepend: 'badge-' -%}
{%- endif -%}
{%- endif -%}

{%- comment -%} Determine publication URL {%- endcomment -%}

{%- if publication.external_url -%}
{%- assign publication_url = publication.external_url -%}
{%- else -%}
{%- assign publication_url = publication.url | relative_url -%}
{%- endif -%}


<div class="col-lg-12 mt-1 mb-3 wow animated fadeIn" data-wow-delay=".15s">
  {% if publication.image %}
  <a href="{{ publication_url }}" class="post card {{ card_style }} p-0" {%- if publication.external_url and site.open_new_tab -%} target="_blank" {%- endif -%}>
    <img src="{{publication.image}}" class="publication-card-img">
    <div class="card-img-overlay">
      {%else%}
      <a href="{{ publication_url }}" class="post card {{ card_style }}" {%- if publication.external_url and site.open_new_tab -%} target="_blank" {%- endif -%}>
        {% endif %}
        <div class="card-body {{ text_style }} pa-0">

          <h4 class="card-title">{{ publication.title }}</h4>

          {% if publication.subtitle %}
          <h6 class="card-subtitle mb-3 text-muted">{{ publication.subtitle }}</h6>
          {% endif %}

          <h6 class="card-text small max-lines-1">
            {{ publication.authors | join: ", " }}
          </h6>

          <p class="card-text max-lines-1">
            {% for tag in publication.tags %}
            <span class="badge {{ badge_style }}">{{ tag }}</span>
            {% endfor %}
          </p>
        </div>

        {% if publication.image %}
    </div>
    <div class="card-footer {{ text_style }} m-0 px-4 py-2 d-flex justify-content-between">
      <div>
        {{ publication.date | date_to_long_string }} | {{ publication.paper_type }}
      </div>
      <div>
        {{ publication.source }}
      </div>
    </div>
    {% else %}
    <div class="card-footer {{ text_style }} px-4 py-2 d-flex justify-content-between">
      <div>
        {{ publication.date | date_to_long_string }} | {{ publication.paper_type }}
      </div>
      <div>
        {{ publication.source }}
      </div>
    </div>
    {% endif %}
  </a>
</div>

<script>
  document.addEventListener("DOMContentLoaded", function() {
    const cards = document.querySelectorAll('.post.card');

    cards.forEach(function(card) {
      const img = card.querySelector('.publication-card-img');
      const cardBody = card.querySelector('.card-body');
      const cardFooter = card.querySelector('.card-footer');

      // Calculate the total height of the card content
      const totalContentHeight = cardBody.scrollHeight + (cardFooter ? cardFooter.scrollHeight : 0);

      // Set the height of the image to match the total content height
      img.style.height = totalContentHeight + 'px';
    });
  });
</script>

