{% assign theses = site.publications | where:"paper_type", "Master Thesis" or "Doctoral Dissertation" %}

<h2 class="pt-3 text-center my-5">Theses & Dissertations</h2>

<div class="card-group mt-2">
  {% assign current_year = nil %}

  {% for publication in theses reversed %}

      {%- assign publication_year = publication.date | date: "%Y" -%}
      {% if current_year != publication_year %}
      {% assign current_year = publication_year %}
      <div class="col-12">
        <h2 class="publication-year-heading ma-0 pt-1 pb-0">{{ current_year }}</h2>
      </div>

    {%- endif -%}
    {% include publication/publication-card.html %}
  {% endfor %}

</div>