{% assign books = site.publications | where:"paper_type", "Book" or "Chapter" %}
{% assign articles = site.publications | where:"paper_type", "Journal Article" %}
{% assign papers = site.publications | where:"paper_type", "Conference Paper" %}
{% assign theses = site.publications | where:"paper_type", "Master Thesis" or "Doctoral Dissertation" %}


<div class="card-group mt-2">

    <!--    Books & Chapters    -->
    {% assign latest_b = books | first %}
    {% if latest_b %}
    <div class="col-6 col-md-3 col-lg-3 mt-1 mb-3 wow animated fadeIn" data-wow-delay=".15s">
        <a href="/publication/books-chapters" class="post card bg-primary">
            {% if latest_b.image %}
            <img class="card-img-top people-card-img" src="{{ latest_b.image }}" alt="{{ latest_b.title }}" />
            {% endif %}
            <div class="card-img-overlay">
                <div class="card-content" style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); text-align: center; color: white;">
                    <h3>Books & Chapters</h3>
                </div>
            </div>
        </a>
    </div>
    {% else %}

    {% endif %}

    <!--    Journal Articles    -->
    {% assign latest_a = articles | first %}
    {% if latest_a %}
    <div class="col-6 col-md-3 col-lg-3 mt-1 mb-3 wow animated fadeIn" data-wow-delay=".15s">
        <a href="/publication/journal-articles" class="post card bg-secondary">
            {% if latest_a.image %}
            <img class="card-img-top people-card-img" src="{{ latest_a.image }}" alt="{{ latest_a.title }}" />
            {% endif %}
            <div class="card-img-overlay">
                <div class="card-content" style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); text-align: center; color: white;">
                    <h3>Journal Articles</h3>
                </div>
            </div>
        </a>
    </div>
    {% else %}

    {% endif %}

    <!--    Conference Papers    -->
    {% assign latest_p = paper | first %}
    {% if latest_p %}
    <div class="col-6 col-md-3 col-lg-3 mt-1 mb-3 wow animated fadeIn" data-wow-delay=".15s">
        <a href="/publication/conference-papers" class="post card bg-danger">
            {% if latest_p.image %}
            <img class="card-img-top people-card-img" src="{{ latest_p.image }}" alt="{{ latest_p.title }}" />
            {% endif %}
            <div class="card-img-overlay">
                <div class="card-content" style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); text-align: center; color: white;">
                    <h3>Conference Papers</h3>
                </div>
            </div>
        </a>
    </div>
    {% else %}

    {% endif %}

    <!--    Theses & Dissertations    -->
    {% assign latest_t = theses | first %}
    {% if latest_t %}
    <div class="col-6 col-md-3 col-lg-3 mt-1 mb-3 wow animated fadeIn" data-wow-delay=".15s">
        <a href="/publication/theses-dissertations" class="post card bg-white">
            {% if latest_t.image %}
            <img class="card-img-top people-card-img" src="{{ latest_t.image }}" alt="{{ latest_t.title }}" />
            {% endif %}
            <div class="card-img-overlay">
                <div class="card-content" style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); text-align: center; color: white;">
                    <h3>Theses & Dissertations</h3>
                </div>
            </div>
        </a>
    </div>
    {% else %}

    {% endif %}

</div>