{%- comment -%} Default Styles {%- endcomment -%}
{%- assign card_style = '' -%}
{%- assign text_style = 'text-themed' -%}
{%- assign badge_style = 'badge-dark' -%}

{%- comment -%} Update Styles {%- endcomment -%}
{%- if publication.style == 'fill' -%}
{%- assign card_style = publication.color | prepend: 'bg-' -%}
  {%- if publication.color != 'light' -%}
  {%- assign text_style = 'text-white' -%}
  {%- assign badge_style = 'badge-light text-' -%}
  {%- assign badge_style = badge_style | append: publication.color -%}
  {%- endif -%}
{%- else -%}
{%- assign card_style = publication.color | prepend: 'border border-' -%}

  {%- if publication.color -%}
  {%- assign badge_style = publication.color | prepend: 'badge-' -%}
  {%- endif -%}
{%- endif -%}

{%- comment -%} Determine publication URL {%- endcomment -%}

{%- if publication.external_url -%}
{%- assign publication_url = publication.external_url -%}
{%- else -%}
{%- assign publication_url = publication.url | relative_url -%}
{%- endif -%}


{%- if publication.paper_type == 'Book' or 'Chapter' -%}
  {%- assign card_style = 'border border-book' -%}
  {%- assign badge_style = 'badge-book' -%}
{%- elsif publication.paper_type == 'Journal Article' -%}
  {%- assign card_style = 'border border-journal' -%}
  {%- assign badge_style = 'badge-journal' -%}
{%- elsif publication.paper_type == 'Conference Paper' -%}
  {%- assign card_style = 'border border-conference' -%}
  {%- assign badge_style = 'badge-conference' -%}
{%- elsif publication.paper_type == 'Master Thesis' or 'Doctoral Dissertation' -%}
  {%- assign card_style = 'border border-thesis' -%}
  {%- assign badge_style = 'badge-thesis' -%}
{%- else -%}
  {%- assign card_style = 'border border-primary' -%}
  {%- assign badge_style = 'badge-primary' -%}
{%- endif -%}

<div class="col-lg-12 mt-1 mb-3 wow animated fadeIn" data-wow-delay=".15s">
  {% if publication.image %}
  <a href="{{ publication_url }}" class="post card {{ card_style }} p-0" {%- if publication.external_url and site.open_new_tab -%} target="_blank" {%- endif -%}>
    <img src="{{publication.image}}" class="publication-card-img">
    <div class="card-img-overlay">
  {%else%}
  <a href="{{ publication_url }}" class="post card {{ card_style }} " {%- if publication.external_url and site.open_new_tab -%} target="_blank" {%- endif -%}>
  {% endif %}
    <div class="card-body {{ text_style }} p-0 px-1 pb-3" >

      <h5 class="card-title">{{ publication.title }}</h5>

      {% if publication.subtitle %}
      <h6 class="card-subtitle mb-3 text-muted">{{ publication.subtitle }}</h6>
      {% endif %}

      <h6 class="card-text small max-lines-1">
        {{ publication.authors | join: ", " }}
      </h6>

      <p class="card-text max-lines-1">
        {% for tag in publication.tags %}
        <span class="badge {{ badge_style }}">{{ tag }}</span>
        {% endfor %}
      </p>
    </div>
  {% if publication.image %}
  </div>
  <div class="card-footer {{ text_style }} m-0 px-4 py-2 d-flex justify-content-between">
    <div>
      {{ publication.date | date_to_long_string }} | {{ publication.paper_type }}
    </div>
    <div>
      {{ publication.source }}
    </div>
  </div>
  {% else %}
  <div class="card-footer {{ text_style }} px-4 py-2 d-flex justify-content-between">
    <div>
      {{ publication.date | date_to_long_string }} | {{ publication.paper_type }}
    </div>
    <div>
      {{ publication.source }}
    </div>
  </div>
  {% endif %}
  </a>
</div>