.book-cover {
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  transition: transform 0.3s, box-shadow 0.3s;
}

.book-cover img {
  width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
  position: relative;
  top: 0;
  transform: translateY(0);
}

.book-cover:hover {
  transform: translateY(-10px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}

.book-cover img {
  border-radius: 10px;
}