---
---
.markdown-body p{
    text-align: justify;
}
@import "portfolYOU";

.text-primary { color: $primary!important; }
.border-primary { border-color: $primary!important; }
.bg-primary { background-color: $primary!important; }


.border-book { border-color: $book!important; }
.border-journal { border-color: $journal!important; }
.border-conference { border-color: $conference!important; }
.border-thesis { border-color: $thesis!important; }


a {color:$primary;}

.btn-outline-primary { color: #fff; background-color: $primary; border-color: $primary; }
.btn-outline-primary:not(:disabled):not(.disabled):active { color: #fff; background-color: lighten($primary, 10%); border-color: lighten($primary, 10%); }
.btn-outline-primary:hover { color: #fff; background-color: lighten($primary, 10%); border-color: lighten($primary, 10%); }

.badge-primary { color: #fff; background-color: $primary; }
.badge-book { color: #fff; background-color: $book; }
.badge-journal { color: #fff; background-color: $journal; }
.badge-conference { color: #fff; background-color: $conference; }
.badge-thesis { color: #fff; background-color: $thesis; }

a.bg-primary:hover {
    background-color: darken($primary, 10%)!important;
}
.form-control:focus{
    border-color: $primary!important;
}

.carousel-indicators {
    bottom:2em;
    z-index:5;
}

.row:before, .row:after { display: flex !important; }





.max-lines-3 {
    display: block;/* or inline-block */
    text-overflow: ellipsis;
    word-wrap: break-word;
    overflow: hidden;
    height: 3.75em;
    line-height: 1.25em;
  }
  .max-lines-2 {
    display: block;/* or inline-block */
    text-overflow: ellipsis;
    word-wrap: break-word;
    overflow: hidden;
    height: 2.5em;
    line-height: 1.25em;
  }
  .max-lines-1 {
    display: block;/* or inline-block */
    text-overflow: ellipsis;
    word-wrap: break-word;
    overflow: hidden;
    height: 1.5em;
    line-height: 1.5em;
  }


.text-muted {
    color: #a3a7aa!important;
}

.publication-year-heading {
  font-style: italic;
  color: gray;
}

.publication-card-img {
    width: 100%;
    height: 12rem;
    max-height: none;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    opacity: 0.2;  
    object-fit: cover; 
    overflow:hidden;
}

.publication-categories-img {
  width: 100%;
  height: 8rem;
  max-height: none;
  border-radius: 10px;
  opacity: 0.2;
  object-fit: cover;
  overflow:hidden;
}

.people-card-img {
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: cover; 
    overflow:hidden;
}

//.book-card {
//  width: auto;
//  position: relative;
//  padding-top: calc(297 / 210 * 100%); /* A4 纸比例 */
//  overflow: hidden;
//  background-color: transparent; /* 取消背景效果 */
//}
//
//.book-card-img {
//  position: absolute;
//  top: 50%;
//  left: 50%;
//  height: auto;
//  width: 100%;
//  max-height: 100%;
//  transform: translate(-50%, -50%);
//  object-fit: contain; /* 让图片在容器中完整显示 */
//}

.card-img-overlay{
    display: block;/* or inline-block */
    text-overflow: ellipsis;
    word-wrap: break-word;
    overflow: hidden;
    max-height: 15rem;
}

@media (min-width: 100px) {  
    .card-columns {column-count: 1;}
    html {font-size: 80%!important;}
    .card-footer {font-size: 10.5px!important;}
    .post-metadata {font-size: 10.5px!important;}
    .size-unchange-1{font-size: 1.5rem !important;}
    .size-unchange-2{font-size: 1.2rem !important;}
    .size-unchange-3{font-size: 1rem !important;}
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 768px) { 
.card-columns {column-count: 2;}
html {font-size: 90%!important;}
.card-footer {font-size: 12px!important;}
.post-metadata {font-size: 12px!important;}
    .size-unchange-1{font-size: 1.4rem !important;}
    .size-unchange-2{font-size: 1.1rem !important;}
    .size-unchange-3{font-size: 0.9rem !important;}
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {  
    .card-columns {column-count: 3;} 
    html {font-size: 100%!important;}
    .size-unchange-1{font-size: 1.25rem !important;}
    .size-unchange-2{font-size: 1rem !important;}
    .size-unchange-3{font-size: 0.8rem!important;}
}

#btn-back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;
  }

  .card-footer:last-child {
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}
