---
---
@import "portfolYOU";

.text-primary { color: $primary!important; }
.border-primary { border-color: $primary!important; }
.bg-primary { background-color: $primary!important; }

a {color:$primary;}

.btn-outline-primary { color: #fff; background-color: $primary; border-color: $primary; }
.btn-outline-primary:not(:disabled):not(.disabled):active { color: #fff; background-color: lighten($primary, 10%); border-color: lighten($primary, 10%); }
.btn-outline-primary:hover { color: #fff; background-color: lighten($primary, 10%); border-color: lighten($primary, 10%); }

.badge-primary { color: #fff; background-color: $primary; }
a.bg-primary:hover {
    background-color: darken($primary, 10%)!important;
}
.form-control:focus{
    border-color: $primary!important;
}

.carousel-indicators {
    bottom:2em;
    z-index:5;
}

.row:before, .row:after { display: flex !important; }





.max-lines-3 {
    display: block;/* or inline-block */
    text-overflow: ellipsis;
    word-wrap: break-word;
    overflow: hidden;
    height: 3.75em;
    line-height: 1.25em;
  }
  .max-lines-2 {
    display: block;/* or inline-block */
    text-overflow: ellipsis;
    word-wrap: break-word;
    overflow: hidden;
    height: 2.5em;
    line-height: 1.25em;
  }
  .max-lines-1 {
    display: block;/* or inline-block */
    text-overflow: ellipsis;
    word-wrap: break-word;
    overflow: hidden;
    height: 1.25em;
    line-height: 1.25em;
  }


.text-muted {
    color: #a3a7aa!important;
}

.publication-card-img {
    width: 100%;
    height: 15rem;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    opacity: 0.2;  
    object-fit: cover; 
    overflow:hidden;
}

.people-card-img {
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: cover; 
    overflow:hidden;
}

.card-img-overlay{
    display: block;/* or inline-block */
    text-overflow: ellipsis;
    word-wrap: break-word;
    overflow: hidden;
    max-height: 15rem;
}

@media (min-width: 0px) {  
    .card-columns {column-count: 1;}
    html {font-size: 75%!important;}
    .card-footer {font-size: 10.5px!important;}
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 768px) { 
.card-columns {column-count: 2;}
html {font-size: 85%!important;}
.card-footer {font-size: 12px!important;}
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {  
    .card-columns {column-count: 3;} 
}

